body {
  background-color: rgb(40, 40, 40);
  color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.navbar-list {
  list-style: none; /* esto quita la decoracion de la lista*/
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.navbar-list li {
  text-align: center;
}
.navbar-list li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-list a:hover {
  color: rgb(0, 218, 247);
}

.img-responsive {
  width: 100%;
}

.quienes-somos {
  display: grid;
  grid-template-columns: auto auto;
}
.padding-left-30x {
  padding-left: 30px;
}
